PORT=5000
CLIENT_URL=http://localhost:4200
#   DATABASE_URL=postgresql://username:password@localhost:5432/db_name
# DATABASE_URL=postgresql://gsc_user:gsc_pass@localhost:5433/gsc_db # In local dev
DATABASE_URL=postgresql://gsc_user:gsc_pass@db:5432/gsc_db # In Docker
GEMINI_API_KEY=YOUR_GEMINI_API_KEY