node_modules
.env
.env.local
.env.docker

/generated/prisma

*-firebase-adminsdk-*.json
firebase-service-account.json
gsc-2026-fea7c-firebase-adminsdk-fbsvc-fb71fee9ba.json
gsc-2026-fea7c-firebase-adminsdk-fbsvc-9ed02d90a7.json


# Speech to text Service account
gcp-speech-to-text-service-key.json
docker-compose.yml